<div class="titulo">
  <h1>Caio faz 20 🎉🥳</h1>
</div>

<div class="subtitulo">
  <p>Você foi convidado para o meu aniversário!!</p>
</div>

<div class="cards">
  <div class="card">
    <h2>Local: Rua Gontrana Giffon, 366</h2>
  </div>

  <div class="card">
    <h2>Apartamento: 2302 - Torre 3</h2>
  </div>

  <div class="card">
    <h2>Horário: 11h00</h2>
  </div>

</div>


<div class="forms">
  <mat-form-field appearance="fill">
    <mat-label>Nome</mat-label>
    <input matInput type="text">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Acompanhantes?</mat-label>
    <mat-select>
      <mat-option value="sim">Sim</mat-option>
      <mat-option value="nao">Não</mat-option>
    </mat-select>
  </mat-form-field>

</div>
